@import "../../variables.scss";

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  line-height: 1.5rem;
  padding: 15px 20px;
  margin: 0;
  border-bottom: 1px solid $themeBorderColor;
  color: $themecolor;
  &:first-of-type {
    border-radius: $themeBorderRadius $themeBorderRadius 0 0;
  }
  &:last-of-type {
    border-radius: 0 0 $themeBorderRadius $themeBorderRadius;
  }
  span {
    color: $themecolor;
  }
  button,
  i {
    padding: 5px 6px;
    background: transparent;
  }
  .fa-paw {
    color: $themecolorBlueLight;
  }
  .fa-trash {
    font-size: 0.9rem;
    color: $themecolorRed !important;
  }
  .fa-pagelines {
    font-size: 1.3rem;

    color: $themecolorGreen;
  }
  .new-home {
    &:hover {
      filter: brightness(70%);
    }
    color: #b3b3b3;
    cursor: pointer;
    transition: all 0.3s ease;
    &.found {
      color: $themecolorLila;
    }
  }
}
