$themecolorLila: #9900cc;
$themecolorBlue: #022c64;
$themecolorBlueLight: #1d7dfc;
$themecolorBlueSuperLight: #b4d4fd;
$themecolorPink: #ff9999;
$themecolorRed: #e60000;

$themeBorderColor: #e0e0e0;
$themecolor: #222;
$themecolorGreen: #15b756;

$themeBorderRadius: 3px;
$themeBoxShadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2),
  0 4px 20px 0 rgba(0, 0, 0, 0.19);
