@import "../../variables.scss";

.new-item-form {
  width: 100%;
  > div {
    background-color: #fff;
    border-radius: $themeBorderRadius;
    box-shadow: $themeBoxShadow;
    line-height: 1.5rem;
    padding: 0.9rem 1.4rem;
    margin: 0;
    border-bottom: 1px solid $themeBorderColor;
    margin: 1rem 0;
  }
  label {
    width: 100%;
    color: $themecolor;
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
  }
  input[type="text"] {
    width: 100%;
    padding-right: 0.5rem;
    padding: 0.7rem 0.5rem;
    border: none;
    border-bottom: 1px solid $themeBorderColor;
    font-size: 1rem;
  }
  .btn-section {
    width: 100%;
    text-align: right;
  }
}
